#!/bin/sh
function o()
{
    for file in "$@"
    do
        gnome-open "$file"
    done
}
# Quick find
f() {
    echo "find . -iname \"*$1*\""
    find . -iname "*$1*"
}

# When directory is changed set xterm title to host:dir
chpwd() {
    [[ -t 1 ]] || return
    case $TERM in
	sun-cmd) print -Pn "\e]l%~\e\\";;
        *xterm*|rxvt|\(dt|k|E\)term) print -Pn "\e]2;%m:%~\a";;
    esac
}

# For changing the umask automatically
#   chpwd () {
#       case $PWD in
#           $HOME/[Dd]ocuments*)
#               if [[ $(umask) -ne 077 ]]; then
#                   umask 0077
#                   echo -e "\033[01;32mumask: private \033[m"
#               fi;;
#           /web*|$HOME/*[Ww]eb*)
#               if [[ $(umask) -ne 072 ]]; then
#                   umask 0072
#                   echo -e "\033[01;33mumask: other readable \033[m"
#               fi;;
#           /nothing)
#               if [[ $(umask) -ne 002 ]]; then
#                   umask 0002
#                   echo -e "\033[01;35mumask: group writable \033[m"
#               fi;;
#           *)
#               if [[ $(umask) -ne 022 ]]; then
#                   umask 0022
#                   echo -e "\033[01;31mumask: world readable \033[m"
#               fi;;
#       esac
#   }
cd . &> /dev/null

# CD into random directory in PWD
cdrand () {
	all=( *(/) )
	rand=$(( 1 + $RANDOM % $#all ))
	cd $all[$rand]
}

# Rotate a jpeg, losslessly
jrotate-r () {
    for i in $*; do
	exiftran -9 -b -i $i
    done
}
